.App{
  max-width:860px;

  margin:40px auto;
  margin-right:370px;
  padding-right: 70px;
}
button{
  background:none;
  border:2px solid ;
  padding:6px 12px;
  border-radius:4px;
  font-weight:bold;
  cursor:pointer;
  font-size:1em;
  font-family: "DotGothic16", sans-serif;
}


.back{
  width:100px;
}
.front{
  width:100px;
}
.card-grid{
  margin-top:40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:20px;
  padding-left: 100px;
}

.nav{
  float:left;
  
}

h1{
margin-left:230px;
}

@media screen and (min-width:320px) and (max-width:599px){
  *{
    margin:0;
    padding:0;
  }
}

